<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Agenda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form method="POST" action="ControllerAgenda">
            <span>nome</span>
            <input type="text" name="name"><br>
            <span>e-mail</span>
            <input type="text" name="email"><br>
            <span>telefone</span>
            <input type="text" name="phone"><br>
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>
